* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, #6ac0fa, #fbff00);
    background-size: 100vw 100vh;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: rgba(96, 91, 91, 0.636);
    padding: 10px;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    margin: auto;

}

.logo h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 0.1em 0.1em rgba(225, 209, 209, 0.378);
    margin: auto;
}

.logo img {
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
    margin: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-modal:checked~.modal {
    opacity: 1;
    visibility: visible;
}

.contenedor {
    width: 380px;
    height: 530px;
    margin: auto;
    background: rgb(255, 255, 255);
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    transition: all 500ms ease;
    position: relative;
    border-radius: 25px;
    transform: translateY(-30%);
}

#btn-modal:checked~.modal .contenedor {
    transform: translateY(0%);
}

.contenedor label {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    margin: auto;
}

#btn-modal {
    display: none;

}

.lbl-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #25516eab;
    padding: 10px 15px;
    border-radius: 19px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

#im2 {
    text-align: center;
    width: 120px;
    transform: translate(138px, 26px);
}


.nombre input {
    border-radius: 23px;
    padding: 15px;
    color: #000000;
    background: #25516e;
    border: none;
    outline: none;
    margin-bottom: 15px;
    width: 70%;
    height: 50px;
    font-size: 22px;
    transform: translate(60px, 90px);
}

.recordar {
    margin: -5px 0 20px 5px;
    color: rgb(0, 153, 255);
    cursor: pointer;
    text-align: center;
    transform: translate(-1px, 100px);

}

.recordar:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 50%;
    height: 50px;
    border: 2px solid;
    background: #25516e;
    border-radius: 25px;
    font-size: 24px;
    color: azure;
    cursor: pointer;
    transform: translate(100px, 100px);

}

input[type="submit"]:hover {
    border-color: #00b7ff;
}

.registrarse {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #25516e;
    transform: translate(-1px, 100px);
}

.iniciar {
    border-radius: 4px;
    color: #fbff00;
}

.err {
    border: 1px solid red;
    width: 265px;
    color: darkred;
    border-radius: 15px;
    background-color: #ff00008c;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#err_mail {
    display: none;
    top: 80px;
    position: relative;
    left: 60px;
}

#err_cla {
    display: none;
    top: 80px;
    position: relative;
    left: 60px;
}