
body{
    background: url('imagenes/quepro.jpg.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article{
    background-color:   #eedecc  ;
    border-radius:40px;
    width: 2000px; ;
    height: 700px;
}

.contenido{
	position: absolute;
	top: -125px;
	left: -325px;
}

.lapiz{
    z-index:3 ;
    position: absolute;
    top:153px ;
    left:803px;
    width:50px ;
    height: 50px;
}
.messi{
    z-index:3 ;
    position: absolute;
    top:350px ;
    left:870px;
    width:40px ;
    height: 40px;
}
.header{
    z-index:1 ;
    position: absolute;
    top:150px;
    left:825px ;
}
.texto{
    text-align: center;
    width:800px ;
    height: 140px;
    background-color: #b7ad99  ;
    border-radius:20px;
    position: absolute;
    top:450px;
    left:540px ;
}
.puesto{
    position: absolute;
    top: 225px;
    left: 640px;
}
.corazon{
    z-index:3 ;
    position: absolute;
    top:350px ;
    left:1205px;
    width:40px ;
    height: 40px;
}
.corason{
    z-index:3 ;
    position: absolute;
    top:15px ;
    left:-41px;
    width:40px ;
    height: 40px;
}
.publicacion1{
    background-color:   #b7ad99  ;
    position: absolute;
    top:670px ;
    left:400px ;
    border-radius:40px;
    width: 130px; ;
    height: 130px;
}
.publicacion2{
    background-color:   #b7ad99  ;
    position: absolute;
    top:670px ;
    left:550px ;
    border-radius:40px;
    width: 130px; ;
    height: 130px;
}
.publicacion3{
    background-color:   #b7ad99  ;
    position: absolute;
    top:670px ;
    left:700px ;
    border-radius:40px;
    width: 130px; ;
    height: 130px;
}
.publicacion4{
    background-color:   #b7ad99  ;
    position: absolute;
    top:670px ;
    left:850px ;
    border-radius:40px;
    width: 130px; ;
    height: 130px;
}
.publicacion5{
    background-color:   #b7ad99  ;
    position: absolute;
    top:670px ;
    left:1000px ;
    border-radius:40px;
    width: 130px; ;
    height: 130px;
}
.publicacion6{
    background-color:   #b7ad99  ;
    position: absolute;
    top:670px ;
    left:1150px ;
    border-radius:40px;
    width: 130px; ;
    height: 130px;
}