* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(120deg, #6ac0fa, #fbff00);
    background-size: 100vw 100vh;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar{
    display: none;
}
header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: rgba(96, 91, 91, 0.636);
    padding: 10px;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    margin: auto;

}
.logo h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 0.1em 0.1em rgba(225, 209, 209, 0.378);
    margin: auto;
}

.logo img {
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
    margin: auto;
}
#abrir {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #25516eab;
    padding: 10px 15px;
    border-radius: 19px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}
#contenido{
    z-index: 1;
    display: block;
    width: 380px;
    height: 530px;
    margin: auto;
    background: rgb(255, 255, 255);
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    position: relative;
    border-radius: 25px;
    animation-duration: 0.75s;
    animation-name: none;
}
#fondo{
    z-index: 2;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    animation-duration: 0.75s;
    animation-name: none;
}
@keyframes afuera {
    from {
        margin-top: -50%;
        width: 380px;
    }

    to {
        margin-top: 0%;
        width: 380px;
    }
}

@keyframes adentro {
    from {
        margin-top: 0%;
        width: 380px;
    }

    to {
        margin-top: -50%;
        width: 380px;
    }
}
@keyframes claro {
    from {
        background: rgba(0, 0, 0, 0.75);
    }

    to {
        background: rgba(0, 0, 0, 0);
    }
}

@keyframes oscuro {
    from {
        background: rgba(0, 0, 0, 0);
    }

    to {
        background: rgba(0, 0, 0, 0.75);
    }
}

#im2 {
    position: relative;
    top:50px;
    width: 120px;
    left:28%;
}
#im3 {
    top:-84px;
    position: relative;
    left:90%;
    width: 20px;
}
.nombre input {
    border-radius: 23px;
    padding: 15px;
    color: #000000;
    background: #25516e;
    border: none;
    outline: none;
    margin-bottom: 15px;
    width: 70%;
    height: 50px;
    font-size: 22px;
    transform: translate(60px, 90px);
}
.recordar {
    margin: -5px 0 20px 5px;
    color: rgb(0, 153, 255);
    cursor: pointer;
    text-align: center;
    transform: translate(-1px, 100px);

}
.recordar:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 50%;
    height: 50px;
    border: 2px solid;
    background: #25516e;
    border-radius: 25px;
    font-size: 24px;
    color: azure;
    cursor: pointer;
    transform: translate(100px, 100px);

}
#inicio{
    border-radius: 23px;
    padding: 15px;
    color: #000000;
    background: #25516e;
    border: none;
    outline: none;
    margin-bottom: 15px;
    width: 70%;
    height: 50px;
    font-size: 22px;
    transform: translate(60px, 90px);
    color:azure;
}
input[id="inicio"] {
    width: 50%;
    height: 50px;
    border: 2px solid;
    background: #25516e;
    border-radius: 25px;
    font-size: 24px;
    color: azure;
    cursor: pointer;
}
#inicio:hover{
    border-color: #00b7ff;
}
input[type="submit"]:hover {
    border-color: #00b7ff;
}

.registrarse {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #25516e;
    transform: translate(-1px, 100px);
}

.iniciar {
    border-radius: 4px;
    color: #fbff00;
}
.err {
    border: 1px solid red;
    width: 265px;
    color: darkred;
    border-radius: 15px;
    background-color: #ff00008c;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#err_mail {
    display: none;
    top: 80px;
    position: relative;
    left: 60px;
}

#err_cla {
    display: block;
    top: 80px;
    position: relative;
    left: 60px;
}