body{
    background-repeat: no-repeat;
    background-size: 100%;
}
.conteiner-principal{
    background-color: rgba(16, 16, 16, 0.603);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 50%;
    transform: translate(-50%,-50%);
}
.conteiner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 50%;
    transform: translate(-50%,-50%);
}