html{
    height: 100%;
}
body{
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}
.conteiner-principal{
    height:250px;
    width: 90%;
    position: relative;
    background-color: #00000080;
    left: 50%;
    transform: translate(-50%, 0%);
 
}
.conteiner-fila-prin{
    display: flex;
    justify-content:center;
}
.fila-principal{
    display: flex;
    height: 10%;
    border-bottom: 3px solid lightblue;
    width: 100%;
    justify-content:space-between;
}
.conteiner{
    color: #ffffff80;
    display: table-cell;
    font-size: 20px;
    position: relative;
}
.paginador{
    position: fixed;
    top: 90%;
    transform: translate(-50%);
    left: 50%;
}
.primer{
    left: 25px;
}
.ultimo{
    right: 25px;
}
.datos{
    bottom: 3px;
}
.fila{
    display: flex;
    height: 10%;
    border-bottom: 2px dashed white;
    width: 100%;
    justify-content:space-between;
}